<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Libro</title>
    <!-- Agrega estilos CSS si es necesario -->
    <style>
        /* Estilos específicos para los detalles del libro */
    </style>
</head>
<body>
    <h1>Detalles del Libro</h1>
    <div>
        <h2>{{.Titulo}}</h2>
        <p><strong>Autor:</strong> {{.Autor}}</p>
        <p><strong>Editorial:</strong> {{.Editorial}}</p>
        <p><strong>Año:</strong> {{.Anio}}</p>
        <p><strong>Nacionalidad del Autor:</strong> {{.NacionalidadAutor}}</p>
        <p><strong>Descripción:</strong> {{.Descripcion}}</p>
    </div>
</body>
</html